name: ci-api-nodejs
on:
  pull_request:
    branches:
      - develop
jobs:
  check-application:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node:
          - 12
        architecture:
          - x64
    name: Running in NodeJS ${{ matrix.node }} - ${{ matrix.architecture }} on ${{ matrix.os }}
    steps:
      - name: Set up checkout@v2
        uses: actions/checkout@v2

      - name: Set up setup-node@v2
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture }}

      - run: npm install
      - run: npm start
      - run: npm test

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: thiagosf85/ci-api:latest
